# Loads the dataset

In [30]:
import pandas as pd
import numpy as np

output_2Y = pd.read_csv('techmaster.csv')
print(output_2Y.shape)
output_2Y.head(3)

(36520, 14)

,id_event,article_subject,id_case,ticket_title,ticket_user,ticket_state,customer_id,article_create_time,ticket_create_time,diff,owner_id,priority,ticket_history_type,a_from
0,769808,Alerta do Backup Exec: A tarefa foi concluída ...,241891,Alerta do Backup Exec: A tarefa foi concluída ...,1,closed successful,FTR,2016-01-01 00:15:12,2016-01-01 00:15:11,1,1,3 normal,SendAgentNotification,Suporte - FTR <cid@ftr.com.br>
1,769809,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,241892,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,1,closed successful,SOLOTESTE,2016-01-01 00:20:15,2016-01-01 00:20:14,1,1,3 normal,SendAgentNotification,<soloteste@soloteste.com.br>
2,769810,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,241893,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,1,closed successful,TRANSVIP,2016-01-01 00:30:08,2016-01-01 00:30:08,0,1,3 normal,SendAgentNotification,<tmt@transvipbr.com.br>

In [31]:
len(output_2Y['id_event'].unique())

23616

In [32]:
len(output_2Y['a_from'].unique())

1256

In [33]:
output = output_2Y.sort_values(['id_case', 'id_event']).reset_index(drop=True)
output.head(15)

,id_event,article_subject,id_case,ticket_title,ticket_user,ticket_state,customer_id,article_create_time,ticket_create_time,diff,owner_id,priority,ticket_history_type,a_from
0,769808,Alerta do Backup Exec: A tarefa foi concluída ...,241891,Alerta do Backup Exec: A tarefa foi concluída ...,1,closed successful,FTR,2016-01-01 00:15:12,2016-01-01 00:15:11,1,1,3 normal,SendAgentNotification,Suporte - FTR <cid@ftr.com.br>
1,769809,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,241892,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,1,closed successful,SOLOTESTE,2016-01-01 00:20:15,2016-01-01 00:20:14,1,1,3 normal,SendAgentNotification,<soloteste@soloteste.com.br>
2,769810,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,241893,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,1,closed successful,TRANSVIP,2016-01-01 00:30:08,2016-01-01 00:30:08,0,1,3 normal,SendAgentNotification,<tmt@transvipbr.com.br>
3,769811,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,241894,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,1,closed successful,TRANSVIP,2016-01-01 00:30:10,2016-01-01 00:30:09,1,1,3 normal,SendAgentNotification,<tmt@transvipbr.com.br>
4,769812,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,241895,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,1,closed successful,backupexec@zimbra.techmaster.com.br,2016-01-01 00:45:09,2016-01-01 00:45:09,0,1,3 normal,SendAgentNotification,Backup Exec Techmaster <backupexec@zimbra.tech...
5,769813,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,241896,Alerta do Backup Exec: Tarefa bem-sucedida (Se...,1,closed successful,backupexec@zimbra.techmaster.com.br,2016-01-01 00:45:10,2016-01-01 00:45:10,0,1,3 normal,SendAgentNotification,Backup Exec Techmaster <backupexec@zimbra.tech...
6,769815,Backup Exec Alert: Job Success (Server: CATISA...,241898,Backup Exec Alert: Job Success (Server: CATISA...,1,closed successful,CATISA,2016-01-01 01:30:07,2016-01-01 01:30:07,0,1,3 normal,SendAgentNotification,Backup Catisa <suporte@disacatisa.com.br>
7,769816,[AGUAS.PROXY3] PROBLEM: Squid: Process not run...,241899,[AGUAS.PROXY3] PROBLEM: Squid: Process not run...,1,closed successful,AGUAS,2016-01-01 02:40:09,2016-01-01 02:40:09,0,1,4 alta,SendAgentNotification,<aguas@zabbix.techmaster.com.br>
8,769817,Re: [Chamado#2016010110222698] [AGUAS.PROXY3] ...,241899,[AGUAS.PROXY3] PROBLEM: Squid: Process not run...,1,closed successful,AGUAS,2016-01-01 02:45:07,2016-01-01 02:40:09,298,1,4 alta,SendAgentNotification,<aguas@zabbix.techmaster.com.br>
9,769818,[HAYASA.FWNITEROI] PROBLEM: Contingencia Ativa...,241900,[HAYASA.FWNITEROI] PROBLEM: Contingencia Ativa...,1,closed successful,HAYASA,2016-01-01 02:50:05,2016-01-01 02:50:04,1,1,4 alta,SendAgentNotification,<hayasa@zabbix.techmaster.com.br>
10,769819,Re: [Chamado#2016010110222699] [HAYASA.FWNITER...,241900,[HAYASA.FWNITEROI] PROBLEM: Contingencia Ativa...,1,closed successful,HAYASA,2016-01-01 02:50:07,2016-01-01 02:50:04,3,1,4 alta,SendAgentNotification,<hayasa@zabbix.techmaster.com.br>
11,769820,[AGUAS.PROXY5] PROBLEM: Squid: Process not run...,241901,[AGUAS.PROXY5] PROBLEM: Squid: Process not run...,1,closed successful,AGUAS,2016-01-01 03:05:05,2016-01-01 03:05:05,0,1,4 alta,SendAgentNotification,<aguas@zabbix.techmaster.com.br>
12,769821,Re: [Chamado#2016010110222700] [AGUAS.PROXY5] ...,241901,[AGUAS.PROXY5] PROBLEM: Squid: Process not run...,1,closed successful,AGUAS,2016-01-01 03:05:08,2016-01-01 03:05:05,3,1,4 alta,SendAgentNotification,<aguas@zabbix.techmaster.com.br>
13,769822,[AGUAS.PROXY5] PROBLEM: Squid: Process not run...,241902,[AGUAS.PROXY5] PROBLEM: Squid: Process not run...,1,closed successful,AGUAS,2016-01-01 03:05:11,2016-01-01 03:05:10,1,1,4 alta,SendAgentNotification,<aguas@zabbix.techmaster.com.br>
14,769823,Re: [Chamado#2016010110222701] [AGUAS.PROXY5] ...,241902,[AGUAS.PROXY5] PROBLEM: Squid: Process not run...,1,closed successful,AGUAS,2016-01-01 03:10:07,2016-01-01 03:05:10,297,1,4 alta,SendAgentNotification,<aguas@zabbix.techmaster.com.br>

In [34]:
output_spu = output.copy()

In [35]:
output_spu.shape

(36520, 14)

In [36]:
len(output_spu['id_event'].unique())

23616

In [37]:
output_spu.dtypes

id_event                int64
article_subject        object
id_case                 int64
ticket_title           object
ticket_user             int64
ticket_state           object
customer_id            object
article_create_time    object
ticket_create_time     object
diff                    int64
owner_id                int64
priority               object
ticket_history_type    object
a_from                 object
dtype: object

# Preprocess and encode

In [38]:
import EventLog as el
spulog = el.EventLog(output_spu, 'id_case', 'article_create_time')

Found False

In [39]:
spulog.static_columns()

['ticket_user', 'ticket_state', 'ticket_create_time']

In [40]:
spulog.df.describe()

            id_event        id_case  ticket_user          diff      owner_id
count   36520.000000   36520.000000      36520.0  3.652000e+04  36520.000000
mean   782003.838007  245154.666922          1.0  7.614203e+04     63.220920
std      7022.392959    1972.974028          0.0  3.279315e+05     53.931508
min    737370.000000  241891.000000          1.0 -6.729004e+06      1.000000
25%    775978.750000  243423.000000          1.0  1.000000e+00      1.000000
50%    781954.000000  245046.000000          1.0  2.528000e+03     61.000000
75%    788157.250000  246928.250000          1.0  6.392300e+04    111.000000
max    794054.000000  248667.000000          1.0  3.533568e+06    149.000000

In [41]:
#[np.unique(spulog.df[x]) for x in ['CANCELADA', 'RECLAMACION', 'SOPORTE', 'REAPERTURAINC']]

In [42]:
spulog.df.select_dtypes('object').describe()

,article_subject,ticket_title,ticket_state,customer_id,ticket_create_time,priority,ticket_history_type,a_from
count,36510,36445,36520,36299,36520,36520,36520,35926
unique,11462,3448,8,285,6621,5,13,1255
top,Atualização Proprietário!,Voltalia - Solicitação de Atendimento,closed successful,GRUPO_SANTIAGO,2016-02-11 10:29:08,3 normal,FollowUp,Equipe de Operação de Serviços <operacao@techm...
freq,3759,828,32679,4143,256,19270,12661,15464

In [43]:
spulog.df['ticket_title'].fillna('0', inplace=True)
spulog.df['article_subject'].fillna('0', inplace=True)
spulog.df['ticket_state'].fillna('0', inplace=True)
spulog.df['priority'].fillna('0', inplace=True)
spulog.df['ticket_history_type'].fillna('0', inplace=True)
spulog.df['a_from'].fillna('0', inplace=True)

In [44]:
np.sum((spulog.df['ticket_title'].value_counts()/len(spulog.df)*100) > 0.1)

96

In [45]:
from sklearn.preprocessing import OneHotEncoder

encoder = el.LogEncoder(transformers = [('static_drop', 'drop', ['ticket_create_time']),
                                     ('static_keep', 'keep', ['id_case','ticket_user','diff']),
                                     ('static_onehot', el.WrapperEncoder(spulog.id_column,OneHotEncoder(sparse=False)), ['ticket_state','priority','ticket_history_type']),
                                     ('dynamic_drop', 'drop', ['customer_id','article_create_time']),
                                     ('dynamic_keep', 'keep', ['id_event','owner_id']),
                                     #('dynamic_freq', el.FrequencyEncoder(spulog.id_column), []),
                                     ('timestamp', el.TimestampFeatures(spulog.id_column, ['event_order', 'time_from_start','elapsed_time_from_event','remaining_time']), [spulog.timestamp_column])])


encoder.check_unused(spulog)

['article_subject', 'ticket_title', 'a_from']

In [46]:
dataset = encoder.fit_transform(spulog)
dataset.head(1)

Fitting static_drop
Fitting static_keep
Fitting static_onehot
Fitting dynamic_drop
Fitting dynamic_keep
Fitting timestamp
Transforming static_drop
Transforming static_keep
Transforming static_onehot
Transforming dynamic_drop
Transforming dynamic_keep
Transforming timestamp
0       2016-01-01 00:15:12+00:00
1       2016-01-01 00:20:15+00:00
2       2016-01-01 00:30:08+00:00
3       2016-01-01 00:30:10+00:00
4       2016-01-01 00:45:09+00:00
5       2016-01-01 00:45:10+00:00
6       2016-01-01 01:30:07+00:00
7       2016-01-01 02:45:07+00:00
8       2016-01-01 02:45:07+00:00
9       2016-01-01 02:50:07+00:00
10      2016-01-01 02:50:07+00:00
11      2016-01-01 03:05:08+00:00
12      2016-01-01 03:05:08+00:00
13      2016-01-01 03:10:07+00:00
14      2016-01-01 03:10:07+00:00
15      2016-01-01 03:40:08+00:00
16      2016-01-01 03:40:08+00:00
17      2016-01-04 08:56:41+00:00
18      2016-01-04 08:56:29+00:00
19      2016-01-04 08:56:11+00:00
20      2016-01-01 05:40:08+00:00
21      2016-01-01 05:40:09+00:00
22      2016-01-01 08:15:09+00:00
23      2016-01-01 11:25:04+00:00
24      2016-01-01 11:25:04+00:00
25      2016-01-02 07:15:04+00:00
26      2016-01-02 07:15:04+00:00
27      2016-01-02 07:15:04+00:00
28      2016-01-01 16:50:09+00:00
29      2016-01-01 16:50:09+00:00
                   ...
36490   2016-02-19 21:20:09+00:00
36491   2016-02-19 21:20:20+00:00
36492   2016-02-19 22:25:08+00:00
36493   2016-02-19 22:25:08+00:00
36494   2016-02-19 22:25:08+00:00
36495   2016-02-19 22:35:42+00:00
36496   2016-02-19 22:35:42+00:00
36497   2016-02-19 22:35:42+00:00
36498   2016-02-19 22:35:42+00:00
36499   2016-02-19 22:45:12+00:00
36500   2016-02-19 23:10:13+00:00
36501   2016-02-19 23:15:09+00:00
36502   2016-02-20 00:35:22+00:00
36503   2016-02-20 00:35:22+00:00
36504   2016-02-20 00:35:26+00:00
36505   2016-02-20 00:35:26+00:00
36506   2016-02-20 00:35:39+00:00
36507   2016-02-20 00:40:08+00:00
36508   2016-02-20 00:40:08+00:00
36509   2016-02-20 00:45:09+00:00
36510   2016-02-20 00:45:09+00:00
36511   2016-02-20 02:10:15+00:00
36512   2016-02-20 02:10:18+00:00
36513   2016-02-20 02:20:10+00:00
36514   2016-02-20 03:15:16+00:00
36515   2016-02-20 03:15:16+00:00
36516   2016-02-20 03:25:15+00:00
36517   2016-02-20 03:25:18+00:00
36518   2016-02-20 04:10:27+00:00
36519   2016-02-20 04:10:29+00:00
Name: article_create_time, Length: 36520, dtype: datetime64[ns, UTC]
------
0       2016-01-01 00:15:12+00:00
1       2016-01-01 00:20:15+00:00
2       2016-01-01 00:30:08+00:00
3       2016-01-01 00:30:10+00:00
4       2016-01-01 00:45:09+00:00
5       2016-01-01 00:45:10+00:00
6       2016-01-01 01:30:07+00:00
7       2016-01-01 02:40:09+00:00
8       2016-01-01 02:45:07+00:00
9       2016-01-01 02:50:05+00:00
10      2016-01-01 02:50:07+00:00
11      2016-01-01 03:05:05+00:00
12      2016-01-01 03:05:08+00:00
13      2016-01-01 03:05:11+00:00
14      2016-01-01 03:10:07+00:00
15      2016-01-01 03:40:08+00:00
16      2016-01-01 03:40:08+00:00
17      2016-01-04 08:56:41+00:00
18      2016-01-04 08:56:29+00:00
19      2016-01-04 08:56:11+00:00
20      2016-01-01 05:40:08+00:00
21      2016-01-01 05:40:09+00:00
22      2016-01-01 08:15:09+00:00
23      2016-01-01 11:15:05+00:00
24      2016-01-01 11:25:04+00:00
25      2016-01-01 14:55:05+00:00
26      2016-01-01 15:05:05+00:00
27      2016-01-02 07:15:04+00:00
28      2016-01-01 16:50:06+00:00
29      2016-01-01 16:50:09+00:00
                   ...
36490   2016-02-19 21:20:09+00:00
36491   2016-02-19 21:20:20+00:00
36492   2016-02-19 21:55:07+00:00
36493   2016-02-19 22:05:08+00:00
36494   2016-02-19 22:25:08+00:00
36495   2016-02-19 22:26:21+00:00
36496   2016-02-19 22:35:42+00:00
36497   2016-02-19 22:35:42+00:00
36498   2016-02-19 22:35:42+00:00
36499   2016-02-19 22:45:12+00:00
36500   2016-02-19 23:10:13+00:00
36501   2016-02-19 23:15:09+00:00
36502   2016-02-20 00:35:13+00:00
36503   2016-02-20 00:35:22+00:00
36504   2016-02-20 00:35:18+00:00
36505   2016-02-20 00:35:26+00:00
36506   2016-02-20 00:35:39+00:00
36507   2016-02-20 00:40:08+00:00
36508   2016-02-20 00:40:08+00:00
36509   2016-02-20 00:45:09+00:00
36510   2016-02-20 00:45:09+00:00
36511   2016-02-20 02:10:15+00:00
36512   2016-02-20 02:10:18+00:00
36513   2016-02-20 02:20:10+00:00
36514   2016-02-20 03:15:16+00:00
36515   2016-02-20 03:15:16+00:00
36516   2016-02-20 03:25:15+00:00
36517   2016-02-20 03:25:18+00:00
36518   2016-02-20 04:10:27+00:00
36519   2016-02-20 04:10:29+00:00
Name: article_create_time, Length: 36520, dtype: datetime64[ns, UTC]

,id_case,ticket_user,diff,x0_Agendamento,x0_closed successful,x0_closed with workaround,x0_merged,x0_new,x0_open,x0_pending auto close+,...,x2_SendAnswer,x2_SendAutoReject,x2_SendAutoReply,x2_Unlock,id_event,owner_id,event_order_article_create_time,time_from_start_article_create_time,remaining_time_article_create_time,elapsed_time_from_event_article_create_time
0,241891,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769808,1,0,0 days,0 days,0 days

In [47]:
np.all(dataset.isnull().sum()==0)

True

In [48]:
dataset.describe

   0.0        0.0     0.0      0.0
36506                        0.0        0.0     1.0      0.0
36507                        0.0        0.0     1.0      0.0
36508                        0.0        0.0     1.0      0.0
36509                        0.0        0.0     1.0      0.0
36510                        0.0        0.0     1.0      0.0
36511                        0.0        0.0     0.0      0.0
36512                        0.0        0.0     0.0      0.0
36513                        0.0        0.0     0.0      0.0
36514                        0.0        0.0     1.0      0.0
36515                        0.0        0.0     1.0      0.0
36516                        0.0        0.0     0.0      0.0
36517                        0.0        0.0     0.0      0.0
36518                        0.0        0.0     0.0      0.0
36519                        0.0        0.0     0.0      0.0

       x0_pending auto close+  ...  x2_SendAnswer  x2_SendAutoReject  \
0                         0.0  ...            0.0                0.0
1                         0.0  ...            0.0                0.0
2                         0.0  ...            0.0                0.0
3                         0.0  ...            0.0                0.0
4                         0.0  ...            0.0                0.0
5                         0.0  ...            0.0                0.0
6                         0.0  ...            0.0                0.0
7                         0.0  ...            0.0                0.0
8                         0.0  ...            0.0                0.0
9                         0.0  ...            0.0                0.0
10                        0.0  ...            0.0                0.0
11                        0.0  ...            0.0                0.0
12                        0.0  ...            0.0                0.0
13                        0.0  ...            0.0                0.0
14                        0.0  ...            0.0                0.0
15                        0.0  ...            0.0                0.0
16                        0.0  ...            0.0                0.0
17                        0.0  ...            0.0                0.0
18                        0.0  ...            0.0                0.0
19                        0.0  ...            0.0                0.0
20                        0.0  ...            0.0                0.0
21                        0.0  ...            0.0                0.0
22                        0.0  ...            0.0                0.0
23                        0.0  ...            0.0                0.0
24                        0.0  ...            0.0                0.0
25                        0.0  ...            0.0                0.0
26                        0.0  ...            0.0                0.0
27                        0.0  ...            0.0                0.0
28                        0.0  ...            0.0                0.0
29                        0.0  ...            0.0                0.0
...                       ...  ...            ...                ...
36490                     0.0  ...            0.0                0.0
36491                     0.0  ...            0.0                0.0
36492                     0.0  ...            0.0                0.0
36493                     0.0  ...            0.0                0.0
36494                     0.0  ...            0.0                0.0
36495                     0.0  ...            0.0                0.0
36496                     0.0  ...            0.0                0.0
36497                     0.0  ...            0.0                0.0
36498                     0.0  ...            0.0                0.0
36499                     0.0  ...            0.0                0.0
36500                     0.0  ...            0.0                0.0
36501                     0.0  ...            0.0                0.0
36502                     0.0  ...            0.0                0.0
36503                     0.0  ...            0.0                0.0
36504                     0.0  ...            0.0                0.0
36505                     0.0  ...            0.0                0.0
36506                     0.0  ...            0.0                0.0
36507                     0.0  ...            0.0                0.0
36508                     0.0  ...            0.0                0.0
36509                     0.0  ...            0.0                0.0
36510                     0.0  ...            0.0                0.0
36511                     0.0  ...            0.0                0.0
36512                     0.0  ...            0.0                0.0
36513                     0.0  ...            0.0                0.0
36514                     0.0  ...            0.0                0.0
36515                     0.0  ...            0.0                0.0
36516                     0.0  ...            0.0                0.0
36517                     0.0  ...            0.0                0.0
36518                     0.0  ...            0.0                0.0
36519                     0.0  ...            0.0                0.0

       x2_SendAutoReply  x2_Unlock  id_event  owner_id  \
0                   0.0        0.0    769808         1
1                   0.0        0.0    769809         1
2                   0.0        0.0    769810         1
3                   0.0        0.0    769811         1
4                   0.0        0.0    769812         1
5                   0.0        0.0    769813         1
6                   0.0        0.0    769815         1
7                   0.0        0.0    769816         1
8                   0.0        0.0    769817         1
9                   0.0        0.0    769818         1
10                  0.0        0.0    769819         1
11                  0.0        0.0    769820         1
12                  0.0        0.0    769821         1
13                  0.0        0.0    769822         1
14                  0.0        0.0    769823         1
15                  0.0        0.0    769824         1
16                  0.0        0.0    769825         1
17                  0.0        0.0    770046         9
18                  0.0        0.0    770045         9
19                  0.0        0.0    770044         9
20                  0.0        0.0    769832         1
21                  0.0        0.0    769833         1
22                  0.0        0.0    769834         1
23                  0.0        0.0    769835         1
24                  0.0        0.0    769836         1
25                  0.0        0.0    769837         1
26                  0.0        0.0    769838         1
27                  0.0        0.0    769868         1
28                  0.0        0.0    769839         1
29                  0.0        0.0    769840         1
...                 ...        ...       ...       ...
36490               0.0        0.0    794026         1
36491               0.0        0.0    794027         1
36492               0.0        0.0    794028         1
36493               0.0        0.0    794029         1
36494               0.0        0.0    794030         1
36495               0.0        0.0    794031         1
36496               0.0        0.0    794032        20
36497               0.0        0.0    794032        20
36498               0.0        0.0    794032        20
36499               0.0        0.0    794033         1
36500               0.0        0.0    794034         1
36501               0.0        0.0    794035         1
36502               0.0        0.0    794037         1
36503               0.0        0.0    794039         1
36504               0.0        0.0    794038         1
36505               0.0        0.0    794040         1
36506               0.0        0.0    794041         1
36507               0.0        0.0    794042         1
36508               0.0        0.0    794043         1
36509               0.0        0.0    794044         1
36510               0.0        0.0    794045         1
36511               0.0        0.0    794046         1
36512               0.0        0.0    794047         1
36513               0.0        0.0    794048         1
36514               0.0        0.0    794049         1
36515               0.0        0.0    794050         1
36516               0.0        0.0    794051         1
36517               0.0        0.0    794052         1
36518               0.0        0.0    794053         1
36519               0.0        0.0    794054         1

       event_order_article_create_time  time_from_start_article_create_time  \
0                                    0                             00:00:00
1                                    0                             00:00:00
2                                    0                             00:00:00
3                                    0                             00:00:00
4                                    0                             00:00:00
5                                    0                             00:00:00
6                                    0                             00:00:00
7                                    0                             00:00:00
8                                    1                             00:04:58
9                                    0                             00:00:00
10                                   1                             00:00:02
11                                   0                             00:00:00
12                                   1                             00:00:03
13                                   0                             00:00:00
14                                   1                             00:04:56
15                                   0                             00:00:00
16                                   0                             00:00:00
17                                   0                             00:00:00
18                                   0                             00:00:00
19                                   0                             00:00:00
20                                   0                             00:00:00
21                                   0                             00:00:00
22                                   0                             00:00:00
23                                   0                             00:00:00
24                                   1                             00:09:59
25                                   0                             00:00:00
26                                   1                             00:10:00
27                                   2                             16:19:59
28                                   0                             00:00:00
29                                   1                             00:00:03
...                                ...                                  ...
36490                                1                             00:05:04
36491                                0                             00:00:00
36492                                0                             00:00:00
36493                                1                             00:10:01
36494                                2                             00:30:01
36495                                0                             00:00:00
36496                                1                             00:09:21
36497                                2                             00:09:21
36498                                3                             00:09:21
36499                                0                             00:00:00
36500                                0                             00:00:00
36501                                0                             00:00:00
36502                                0                             00:00:00
36503                                1                             00:00:09
36504                                0                             00:00:00
36505                                1                             00:00:08
36506                                0                             00:00:00
36507                                0                             00:00:00
36508                                1                             00:00:00
36509                                0                             00:00:00
36510                                1                             00:00:00
36511                                0                             00:00:00
36512                                0                             00:00:00
36513                                0                             00:00:00
36514                                0                             00:00:00
36515                                1                             00:00:00
36516                                0                             00:00:00
36517                                0                             00:00:00
36518                                0                             00:00:00
36519                                0                             00:00:00

       remaining_time_article_create_time  \
0                                00:00:00
1                                00:00:00
2                                00:00:00
3                                00:00:00
4                                00:00:00
5                                00:00:00
6                                00:00:00
7                                00:04:58
8                                00:00:00
9                                00:00:02
10                               00:00:00
11                               00:00:03
12                               00:00:00
13                               00:04:56
14                               00:00:00
15                               00:00:00
16                               00:00:00
17                               00:00:00
18                               00:00:00
19                               00:00:00
20                               00:00:00
21                               00:00:00
22                               00:00:00
23                               00:09:59
24                               00:00:00
25                               16:19:59
26                               16:09:59
27                               00:00:00
28                               00:00:03
29                               00:00:00
...                                   ...
36490                            00:00:00
36491                            00:00:00
36492                            00:30:01
36493                            00:20:00
36494                            00:00:00
36495                            00:09:21
36496                            00:00:00
36497                            00:00:00
36498                            00:00:00
36499                            00:00:00
36500                            00:00:00
36501                            00:00:00
36502                            00:00:09
36503                            00:00:00
36504                            00:00:08
36505                            00:00:00
36506                            00:00:00
36507                            00:00:00
36508                            00:00:00
36509                            00:00:00
36510                            00:00:00
36511                            00:00:00
36512                            00:00:00
36513                            00:00:00
36514                            00:00:00
36515                            00:00:00
36516                            00:00:00
36517                            00:00:00
36518                            00:00:00
36519                            00:00:00

       elapsed_time_from_event_article_create_time
0                                         00:00:00
1                                         00:00:00
2                                         00:00:00
3                                         00:00:00
4                                         00:00:00
5                                         00:00:00
6                                         00:00:00
7                                         00:00:00
8                                         00:04:58
9                                         00:00:00
10                                        00:00:02
11                                        00:00:00
12                                        00:00:03
13                                        00:00:00
14                                        00:04:56
15                                        00:00:00
16                                        00:00:00
17                                        00:00:00
18                                        00:00:00
19                                        00:00:00
20                                        00:00:00
21                                        00:00:00
22                                        00:00:00
23                                        00:00:00
24                                        00:09:59
25                                        00:00:00
26                                        00:10:00
27                                        16:09:59
28                                        00:00:00
29                                        00:00:03
...                                            ...
36490                                     00:05:04
36491                                     00:00:00
36492                                     00:00:00
36493                                     00:10:01
36494                                     00:20:00
36495                                     00:00:00
36496                                     00:09:21
36497                                     00:00:00
36498                                     00:00:00
36499                                     00:00:00
36500                                     00:00:00
36501                                     00:00:00
36502                                     00:00:00
36503                                     00:00:09
36504                                     00:00:00
36505                                     00:00:08
36506                                     00:00:00
36507                                     00:00:00
36508                                     00:00:00
36509                                     00:00:00
36510                                     00:00:00
36511                                     00:00:00
36512                                     00:00:00
36513                                     00:00:00
36514                                     00:00:00
36515                                     00:00:00
36516                                     00:00:00
36517                                     00:00:00
36518                                     00:00:00
36519                                     00:00:00

[36520 rows x 35 columns]>

In [49]:
dataset.columns.values

array(['id_case', 'ticket_user', 'diff', 'x0_Agendamento',
       'x0_closed successful', 'x0_closed with workaround', 'x0_merged',
       'x0_new', 'x0_open', 'x0_pending auto close+',
       'x0_pending reminder', 'x1_1 muito baixa', 'x1_2 baixa',
       'x1_3 normal', 'x1_4 alta', 'x1_5 muito alta', 'x2_AddNote',
       'x2_EmailCustomer', 'x2_FollowUp', 'x2_Lock', 'x2_Move',
       'x2_NewTicket', 'x2_PhoneCallAgent', 'x2_PhoneCallCustomer',
       'x2_SendAgentNotification', 'x2_SendAnswer', 'x2_SendAutoReject',
       'x2_SendAutoReply', 'x2_Unlock', 'id_event', 'owner_id',
       'event_order_article_create_time',
       'time_from_start_article_create_time',
       'remaining_time_article_create_time',
       'elapsed_time_from_event_article_create_time'], dtype=object)

# Split into train, validation, test

In [50]:
# Split into train, validation, test

from sklearn.model_selection import GroupShuffleSplit
from sklearn.utils import safe_indexing
from itertools import chain


def group_train_test_split(X, Y, group, test_size=0.2):
    train, test = next(GroupShuffleSplit(test_size=test_size, random_state=0).split(X, Y, group))
    arrays = [X, Y, group]

    return list(chain.from_iterable((safe_indexing(a, train),
                                     safe_indexing(a, test)) for a in arrays))

In [51]:
#cambiar los timedelta atipo long
timedeltas = dataset.select_dtypes('timedelta').columns.values
for c in timedeltas:
    dataset[c] = dataset[c].dt.seconds

incidents_X = dataset

# Choose the target attribute
incidents_Y = dataset['remaining_time_article_create_time']

# And the attribute (id) that is used to split the dataset in train, validation and test
incidents_group = dataset['id_case']

incidents_X.shape, incidents_Y.shape, incidents_group.shape

((36520, 35), (36520,), (36520,))

In [52]:
incidents_X

,id_case,ticket_user,diff,x0_Agendamento,x0_closed successful,x0_closed with workaround,x0_merged,x0_new,x0_open,x0_pending auto close+,...,x2_SendAnswer,x2_SendAutoReject,x2_SendAutoReply,x2_Unlock,id_event,owner_id,event_order_article_create_time,time_from_start_article_create_time,remaining_time_article_create_time,elapsed_time_from_event_article_create_time
0,241891,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769808,1,0,0,0,0
1,241892,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769809,1,0,0,0,0
2,241893,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769810,1,0,0,0,0
3,241894,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769811,1,0,0,0,0
4,241895,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769812,1,0,0,0,0
5,241896,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769813,1,0,0,0,0
6,241898,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769815,1,0,0,0,0
7,241899,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769816,1,0,0,298,0
8,241899,1,298,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769817,1,1,298,0,298
9,241900,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769818,1,0,0,2,0
10,241900,1,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769819,1,1,2,0,2
11,241901,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769820,1,0,0,3,0
12,241901,1,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769821,1,1,3,0,3
13,241902,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769822,1,0,0,296,0
14,241902,1,297,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769823,1,1,296,0,296
15,241903,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769824,1,0,0,0,0
16,241904,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769825,1,0,0,0,0
17,241905,1,277889,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,770046,9,0,0,0,0
18,241906,1,277574,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,770045,9,0,0,0,0
19,241907,1,276359,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,770044,9,0,0,0,0
20,241908,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769832,1,0,0,0,0
21,241909,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769833,1,0,0,0,0
22,241910,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769834,1,0,0,0,0
23,241911,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769835,1,0,0,599,0
24,241911,1,600,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769836,1,1,599,0,599
25,241912,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769837,1,0,0,58799,0
26,241912,1,600,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769838,1,1,600,58199,600
27,241912,1,58799,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769868,1,2,58799,0,58199
28,241913,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769839,1,0,0,3,0
29,241913,1,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,769840,1,1,3,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36490,248648,1,305,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794026,1,1,304,0,304
36491,248649,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794027,1,0,0,0,0
36492,248650,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794028,1,0,0,1801,0
36493,248650,1,602,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794029,1,1,601,1200,601
36494,248650,1,1802,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794030,1,2,1801,0,1200
36495,248651,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794031,1,0,0,561,0
36496,248651,1,562,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794032,20,1,561,0,561
36497,248651,1,562,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794032,20,2,561,0,0
36498,248651,1,562,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794032,20,3,561,0,0
36499,248652,1,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794033,1,0,0,0,0
36500,248653,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794034,1,0,0,0,0
36501,248654,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794035,1,0,0,0,0
36502,248655,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794037,1,0,0,9,0
36503,248655,1,10,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794039,1,1,9,0,9
36504,248656,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794038,1,0,0,8,0
36505,248656,1,8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794040,1,1,8,0,8
36506,248657,1,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794041,1,0,0,0,0
36507,248658,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794042,1,0,0,0,0
36508,248658,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794043,1,1,0,0,0
36509,248659,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794044,1,0,0,0,0
36510,248659,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794045,1,1,0,0,0
36511,248660,1,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794046,1,0,0,0,0
36512,248661,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794047,1,0,0,0,0
36513,248662,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794048,1,0,0,0,0
36514,248663,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794049,1,0,0,0,0
36515,248663,1,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794050,1,1,0,0,0
36516,248664,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794051,1,0,0,0,0
36517,248665,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794052,1,0,0,0,0
36518,248666,1,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794053,1,0,0,0,0
36519,248667,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,794054,1,0,0,0,0

In [53]:
# Split into train, validation, test
X_train, X_test, Y_train, Y_test, group_train, group_test = group_train_test_split(incidents_X, incidents_Y, incidents_group, test_size = 0.5)
X_val, X_test, Y_val, Y_test, group_val, group_test = group_train_test_split(X_test, Y_test, group_test, test_size=0.4)

X_train.shape, Y_train.shape, X_test.shape, Y_test.shape, X_val.shape, Y_val.shape

((18080, 35), (18080,), (7169, 35), (7169,), (11271, 35), (11271,))

In [54]:
# Quick check that case ids are not in two slots
#np.asarray([item in group_test.unique() for item in group_train.unique()]).any()

# Trains classifier and evaluates them

In [55]:
Y_train.describe()

count    18080.000000
mean     16399.424723
std      26834.985446
min          0.000000
25%          0.000000
50%       1541.000000
75%      18203.000000
max      86328.000000
Name: remaining_time_article_create_time, dtype: float64

In [56]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

def train_and_evaluate(X_train, X_val, X_test, Y_train, Y_val, Y_test, cols_to_remove = []):
    # Remove some attributes for training
    train_onehot = X_train.drop(cols_to_remove, axis=1)
    val_onehot = X_val.drop(cols_to_remove, axis=1)
    test_onehot = X_test.drop(cols_to_remove, axis=1)

    # Now, we are going to build estimators for the remaining time
    regressor = RandomForestRegressor(random_state=0,n_jobs=-1)
    regressor.fit(train_onehot, Y_train)

    # Predict
    val_predict = regressor.predict(val_onehot)
    test_predict = regressor.predict(test_onehot)
    
    # And evaluate the model
    val_mae = mean_absolute_error(Y_val, val_predict)
    val_mse = mean_squared_error(Y_val, val_predict)
    test_mae = mean_absolute_error(Y_test, test_predict)
    test_mse = mean_squared_error(Y_test, test_predict)

    print("val: ", val_mae, val_mse )
    print("test: ", test_mae, test_mse)
    
    return val_mae, val_mse, test_mae, test_mse

In [57]:
#columnas a borrar
ctr = ['id_case']
print("Start of the experimentation")
train_and_evaluate(X_train, X_val, X_test, Y_train, Y_val, Y_test, cols_to_remove = ctr)

Start of the experimentation
val:  6.894791943926912 337.120209386923
test:  7.342683777374792 503.69010601199705

(6.894791943926912, 337.120209386923, 7.342683777374792, 503.69010601199705)

In [58]:
#All (ALL): all attributes of the original datasets are considered.
#None (NONE): just the basic attributes of the log, such as name of activity and timestamp are considered.
#Automatic (AUTO): attributes detected as relevant for a decision tree algorithm are selected for the experimentation.
#Random (RND): a set of randomly selected attributes are taken into account.
#Context (CTXT): detected context attributes by the method are included.
#Without context (WCTXT): detected context attributes are excluded from the dataset.

# End classifier